pyyaml==6.0.1
huggingface-hub==0.22.2
datasets==2.19.0
transformers==4.51.0
torch==2.4.0
accelerate==0.30.0

lm_eval[hf]==0.4.11

vllm==0.6.2
fire==0.6.0
pandas==2.2.2
numpy==1.26.4
scipy==1.13.0
scikit-learn==1.4.2
fschat==0.2.36
peft==0.11.1
openai==1.23.3
tqdm==4.66.2
tenacity==8.4.1

langdetect==1.0.9
immutabledict==4.2.0